@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our cake shop!</h1>
    <h2>Cakes is for you and me!</h2>

    <img src="~/Images/cake_bg.jpg" class="w-50 rounded"/>

    <br />

    <a class="btn btn-primary mt-2" asp-page="CakeCollection">BRING ME MY CAKE</a>

</div>